@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.Board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Board_title {
    font-family: 'Luckiest Guy', cursive;
    color: #FF1B1C;
    font-size: 3rem;
}

.Board_field {
    display: flex;
    flex-direction: row;
}

.Board_btn {
    border: 5px solid #FF7F11;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;

    background-color: transparent;
    font-family: 'Luckiest Guy', cursive;
    color: #FF7F11;
    font-size: 1.5rem;
}

.Board_btn:hover {
    background-color: #FF7F11;
    color: #FFFFFC;
    filter: contrast(100%);
}

.Field {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;

    width: 490px;
    height: 324px;
    border: 1px solid #BEB7A4;
    margin: 1rem;
    padding: 20px;

    background-color: #CBE896;
}

.Field_one {
    grid-column: 1;
    grid-row: 1;
}
.Field_two {
    grid-column: 2;
    grid-row: 1;
}
.Field_three {
    grid-column: 3;
    grid-row: 1;
}
.Field_four {
    grid-column: 1;
    grid-row: 2;
}
.Field_five {
    grid-column: 2;
    grid-row: 2;
}
.Field_six {
    grid-column: 3;
    grid-row: 2;
}